<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.mysql.hyoyoung.MyShopDao">
	<select id="getAllMyShop" resultType="MyShopDto"> <!-- mybatis는 resultType(예전의returnType..) -->
		select * from shop order by shopnum desc
	</select>
</mapper>
